{% load static %}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style3.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">	
<meta charset="UTF-8">
<title>edu</title>
</head>

<body>
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
	<h1>EDUCATION</h1>
	
	<div> 
		<p>Thank you for your time looking at my profile page.
learn more about me through my social media or click 
the button below to contact me direcly.</p>
	</div>
	
	<a href="{% url 'blog:cont' %}"><button class="bt1">Contact</button></a>
	<a href="https://www.instagram.com/naufalrafiathl/"><button class="bt2">Instagram Profile</button></a>

	<a href="{% url 'blog:index' %}"><h4>Home Page</h4></a>
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
</body>
</html>
