{% load static %}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style2.css">	
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">	
<meta charset="UTF-8">
<title>edu</title>
</head>

<body>
	<div class="ab"></div>
	<div class="ac"></div>
	<div class="cd"></div>
	<h1>EDUCATION</h1>
	<h2 class="t1">FORMAL</h2>
	<h2 class="t2">INFORMAL</h2>
	
	<ul>
		<li class="first">SD Islam Al-Syukro</li>
		<li class="second">SMPN 17 Tangerang Selatan</li>
		<li class="third">SMAN 6 Tangerang Selatan</li>
	</ul>
	
	<ul>
		<li class="sixth">Dumet School</li>
	</ul>
	
	<a href="{% url 'blog:index' %}"><h4>Home Page</h4></a>
	<footer> <p class="q1">"Hardwork never betrays"</p></footer>
</body>
</html>
