{% load static %}

<!doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">	
<link href="https://fonts.googleapis.com/css?family=Rubik+One" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Naufal's WDP Story 3</title>
</head>

<body class="mine">

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Naufal's Page</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			<li class="nav-item active">
			  <a class="nav-link" href="{% url 'blog:index' %}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'blog:exp' %}">Experience</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="{% url 'blog:edu' %}">Education</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'blog:cont' %}">Contact</a>
			</li>
		  </ul>
		</div>
	  </nav>
	
<div class="ab"></div>
<div class="ac"></div>
<div class="cd"></div>	
	<img class="prof" src="/static/pp.png">
	<h2 class="skills">SKILLS</h2>
	<div class="rec1">
		<h3 class="name-1"><b>Naufal Rafi Athallah Ramadhan</b></h3>
	<p class="info"> My Name is Naufal, I am 19 years old. I’m a student at Fasilkom Universitas Indonesia. I have learned some of Programming language, including HTML. I also have interest in Web Programming and Web Design </p>
	</div>
<h5 class="html">HTML</h5>
<h5 class="css">CSS</h5>
<h5 class="python">PYTHON</h5>
<h5 class="java">JAVA</h5>

<div class="prog-bar1"><p class="html-prog">40 %</p></div>
<div class="prog-bar2"><p class="csss-prog">35 %</p></div>
<div class="prog-bar3"><p class="python-prog">75 %</p></div>
<div class="prog-bar4"><p class="java-prog">25 %</p></div>
	
<a href="{% url 'blog:exp' %}"><h2 class="exp">EXPERIENCE</h2></a>
<img class="test" src="/static/school-24px 1.png">
<a href="{% url 'blog:edu' %}"><h2 class="edu">EDUCATION</h2></a>
<img class="test1" src="/static/Vector (1).svg">
<a href="{% url 'blog:cont' %}"><h2 class="cont">CONTACT</h2></a>
<img class="test2" src="/static/Vector.svg">



	<footer> <p class="q1">"There is no such thing as talent"</p></footer>
</body>
</html>
